[Desktop Entry]
Name=Winston
X-KDE-PluginInfo-Name=Winston
X-KDE-PluginInfo-Author=IprediaOS Project
X-KDE-PluginInfo-Email=info@ipredia.org
X-KDE-PluginInfo-License=CC-BY-SA

